<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/sing-in" method="post">
    <p>
        <input id="login" type="text" name="login">
        <label for="login">login</label>
    </p><p>
    <input id="password" type="password" name="password">
    <label for="password">password</label>
</p><p>
    <input type="submit" value="Войти">
</p>
</form>
<form action="/sing-up" method="get">
    <input type="submit" value="Регистрация">
</form>


</body>
</html>